{% extends "../base.html" %}

{% block css_link %}
<link href="/assets/css/main.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
				<div id="site-introduction">
					<img id="profile" src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-1/p160x160/12961600_851799304948455_3345955291766032751_n.jpg?_nc_cat=0&oh=9be433b92741b7e4b6a53f04100941cc&oe=5BA43AA0">
					<h2>안녕하세요. 안대혁의  mysite에 오신 것을 환영합니다.</h2>
					<p>
						이 사이트는 저만의 Bigdata사이트입니다.<br>
						Python 수업 + 데이터베이스 수업 + 웹프로그래밍 수업 배운 거 있는거 없는 거 다 합쳐서
						만들어 놓은 사이트 입니다.<br><br>
						<a href="/guestbook">방명록</a>에 글 남기기<br>
					</p>
				</div>
{% endblock %}